*.iml
*.class
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock
**/doc/api/
.DS_Store
**/ios/Flutter/.last_build_id
.idea/
android/local.properties
ios/.symlinks/
ios/Pods/
